APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Europe/Brussels
APP_LOCALE=fr

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=myHome
DB_USERNAME=root
DB_PASSWORD=secret
DB_TABLE_PREFIX=myhome_
DB_DUMP_PATH=
DB_MYSQL_PATH=

DB_DATABASE_SQLITE=/home/thiebaul/www/myhome/storage/app/database/file_db.db

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

MAIL_DRIVER=mail
MAIL_HOST=ssl0.ovh.net
MAIL_PORT=587
MAIL_USERNAME=secret
MAIL_PASSWORD=secret
MAIL_CONTACT=test@example.com
MAIL_FROM_ADDRESS = test@example.com
MAIL_FROM_NAME = "Thiébault Michaël"
MAIL_TO = test@example.com

VITE_DEV_SERVER_URL=http://node:5173

FILESYSTEM_CLOUD=google
GOOGLE_DRIVE_CLIENT_ID=secret
GOOGLE_DRIVE_CLIENT_SECRET=secret
GOOGLE_DRIVE_REFRESH_TOKEN=secret
GOOGLE_DRIVE_FOLDER_ID=secret

GA_TRACKING=UA-XXXXX-Y

ALLOCINE_PARTNER_KEY =secret
ALLOCINE_SECRET_KEY=secret

THEMOVIEDB_API_KEY =secret
THEMOVIEDB_IMG_URL=https://image.tmdb.org/t/p/original
STORAGE_MOVIES_IMG_PATH=public/images/movies/
STORAGE_SERIES_IMG_PATH=public/images/series/

ADMIN_NAME="Thiébault Michaël"
ADMIN_USERNAME=secret
ADMIN_EMAIL=test@example.com
ADMIN_PASSWORD=secret

# Environment variables for docker setup
CONTAINER_LARAVEL=laravel
CONTAINER_NODE=node
CONTAINER_DB=mysql
CONTAINER_DUMP_DIR=docker/mysql/dumps
CONTAINER_MYSQL_ROOT_PASSWORD=root

# WordPress HTTP Auth
WORDPRESS_HTTP_USER=admin
WORDPRESS_HTTP_PASSWORD=secret

#SUBDOMAINS
BLOG_SUBDOMAIN=blog.xxxx.test
MEDIA_SUBDOMAIN=media.xxxx.test